doctype
html(lang="en")
    head
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1")
        meta(http-equiv="x-ua-compatible", content="ie=edge")
        title Bulletin Board
        //- Bootstrap CDN
        link(rel="stylesheet" href="https://cdn.rawgit.com/twbs/bootstrap/v4-dev/dist/css/bootstrap.css")
        //- Bootstrap custome theme
        link(rel="stylesheet" href="https://bootswatch.com/united/bootstrap.min.css")
        //- Own CSS file
        link(rel="stylesheet" href="stylesheets/style.css")
        //- link(rel="icon" type="image/png" href="#" sizes="32x32")
 
    body

        //-MAIN NAVIGATION 
        nav.navbar.navbar-default.navbar-fixed-top
            div.container-fluid
                div.container
                    div.navbar-header
                        a.navbar-brand(href="#") Bulletin Board
                            //- img(alt="Brand" src="#")
                    form.navbar-form.navbar-right
                        button.btn.btn-info(type="button" data-toggle="modal" data-target="#contribute" aria-hidden="true") Make contribution

        block content

        //- LINK TO BOOTSTRAP + JQUERY LIBRARY
        script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js')
        script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js')
        script(src='https://cdn.rawgit.com/twbs/bootstrap/v4-dev/dist/js/bootstrap.js')