/** {
	margin: 0;
	padding: 0;
}*/

.container {
	/*border: 2px solid grey;*/
	background-color: ##f0f0f1;
}

.card-columns {
	margin-top: 70px;
	column-gap: 12px;
}

.navbar {
	border-radius: 0px;
}

.buttons {
  text-align: right;
}
  
.btn-primary {
  margin-right: 10px;
}

/*when modal shows, make background darker*/
.modal-backdrop
{
    opacity:0.5 !important;
}

/*TO VERTICALLY CENTER MODAL FORM*/

.modal {
  text-align: center;
  padding: 0!important;
}

.modal:before {
  content: '';
  display: inline-block;
  height: 120%;
  vertical-align: middle;
  margin-right: -4px;
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}
